.logo {
  height: 60px;
  width: 60px;
}

#radisson {
  height: 200px;
  width: 250px;
}
#lalit {
  height: 200px;
  width: 250px;
}
#taj {
  height: 200px;
  width: 250px;
}
.footer {
  height: 20px;
  width: 22px;
}
