.container {
  background-color: rgb(132, 136, 139);
  width: 50%;
  height: 20%;
  margin: 2% auto;
  display: flex;
  flex-direction: row;
}
#information {
  margin: 2%;
  background-color: rosybrown;
  display: flex;
  justify-content: space-evenly;
}
#total {
  border: 1px solid black;
  border-radius: 5px;
  padding: 1% 2%;
}
#image {
  max-width: 270px;
  max-height: 300px;
  padding-right: 20px;
}

#pay {
  color: black;
  text-decoration: none;
}
.outer {
  display: flex;
  flex-direction: column;
}

#information p {
  font-family: cursive;
}
.address {
  display: flex;
  justify-content: center;
  align-items: center;
}
.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
}
